[submodule "inc/vim-update-bundles"]
	path = inc/vim-update-bundles
	url = https://github.com/bronson/vim-update-bundles.git
[submodule "inc/git-extras"]
	path = inc/git-extras
	url = git://raw.github.com/visionmedia/git-extras
