[submodule "inc/vim-update-bundles"]
	path = inc/vim-update-bundles
	url = git://github.com/bronson/vim-update-bundles.git
[submodule "inc/git-extras"]
	path = inc/git-extras
	url = git://github.com/tj/git-extras.git
[submodule "inc/oh-my-git"]
	path = inc/oh-my-git
	url = https://github.com/arialdomartini/oh-my-git.git
[submodule "inc/finna-be-octo-hipster"]
	path = inc/finna-be-octo-hipster
	url = git@github.com:jacaetevha/finna-be-octo-hipster.git
