# future: fix "ImportError: No module named builtins"
# pynvim: required by deoplete
# sqlparse: required by mbra/prettysql
# vint: required by ALE
# yamllint: required by ALE
future
neovim
pynvim
sqlparse
vint
yamllint
