# future: fix "ImportError: No module named builtins"
# sqlparse: required by mbra/prettysql
# vint: required by ALE
# yamllint: required by ALE
# ansible-lint segfaults on Linux
future
neovim
pipx
sqlparse
vim-vint
yamllint
